/******* Header Settings ********/
.header {
  text-align: center;
  margin-top: 2em;
}

/******* End Result Settings ********/
.result {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 2em;
}

/******* Board Settings ********/
.board {
  margin-right: auto;
  margin-left: auto;
  margin-top: 6em;
  height: 24em;
  width: 24em;
  text-align: center;
}
  .square {
    height: 7.8em;
    width: 7.8em;
    border: .1em solid black;
    float: left;
    vertical-align: middle;
    line-height: 8em;
  }
    i {
      font-size: 200%
    }

/******* New Game Button Settings ********/
.newGame {
  margin-top: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
